@import url(../reindeer/styles.css);

.border {
  border: 1px solid black;
}

.process-step {
	border: 1px solid #454545;
	background-color: #fffece;
	cursor: pointer;
}

.process-step-text {
  cursor: pointer;
}

.candidate {
  background-color: yellow;
}

.candidate:hover {
  background-color: gray;
  cursor: pointer;
}

.empty {
  background-color: green;
}

